/* Body / Header / Footer */

/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    animation: gradient 15s ease infinite;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.558);
    margin-left: 5vh;
    margin-right: 5vh;
  } */

/* header {

} */

/* footer {

} */

/* Main */

.pintroduction {
    text-align: center;
}